{% extends 'frontend/base.html' %} {% block title %}Home{% endblock %} {% block content %}

<div class="contianer-index">
    <div class="grid-cont">

        <div class="item">
            <h2>no.1</h2>
            <img src="static/image/mm5.jpg" class="rounded" alt="Cinque Terre1" width="304" height="236">
            <h4>no.1</h4>
            <p>ต่างหู เรียบแต่หรู เก๋มาก </p>
            <p> *สวยงามน่าดึงดูด ชวนหลงไหล </br>มีความซับซ้อนเพิ่มเสน่ห์ของคุณให้ดูน่ามอง</p>
            <p>รหัสสินค้า:N64321</p>

        </div>

        <div class="item">
            <h2>no.2 </h2>
            <img src="static/image/mm3.jpg" class="rounded" alt="Cinque Terre2" width="304" height="236">
            <h4>no.2</h4>
            <p>ตุ้มหูเม็ดมุขแท้ </p>
            <p> *สวยสะกดทุกสายตา </br>น้อยแต่มาก ไม่มีถือว่าพลาด</p>
            <p>รหัสสินค้า:N4322</p>

        </div>

        <div class="item">
            <h2>no.3</h2>
            <img src="static/image/mm6.jpg" class="rounded" alt="Cinque Terre3" width="304" height="236">
            <h4>no.3</h4>
            <p>ต่างหูสีขาว เก๋ๆ สตายแฟชั่น </p>
            <p> *ดูเก๋มีสไตล์ สวยมาก  </br>ซื้อเก็บไว้ไม่ผิด</p>
            <p>รหัสสินค้า:N4323</p>

        </div>
        {% endblock %}