{% extends 'frontend/base.html' %} {% block title %}Home{% endblock %} {% block content %}

<div class="contianer-index">
    <div class="grid-cont">

        <div class="item">
            <h2>earring</h2>
            <img src="static/image/mm3.jpg" class="rounded" alt="Cinque Terre1" width="304" height="236">
        </div>

        <div class="item">
            <h2>bracelet </h2>
            <img src="static/image/ss2.jpg" class="rounded" alt="Cinque Terre2" width="304" height="236">
        </div>

        <div class="item">
            <h2>necklace</h2>
            <img src="static/image/kk3.jpg" class="rounded" alt="Cinque Terre3" width="304" height="236">
        </div>

    </div>
    <div class="acces">
        <div class="content">
            <h1>Accessorie</h1>
            <p>~~เพิ่มเสน่ห์ของคุณด้วยสินค้าของเรา~~</p>
            <p>ความสวยที่คุณคู่ควร</p>
            <p></p>
        </div>
    </div>
</div>







{% endblock %}